@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent text selection during node dragging */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}